* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Oswald";
  src: url("/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
#home {
  scroll-margin-top: 50px;
}
body .container {
  max-width: 1263px;
  margin: auto;
}
:root {
  scroll-behavior: smooth;
}
.nav-logo a {
  margin-left: 70px;
  text-decoration: none;
  width: auto;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: black;
}

.bar {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: black;
  margin: 2px;
}
.toggle-menu {
  display: flex;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.navbar {
  width: 1263px;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  z-index: 3;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}

ul li a {
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  margin: 35px;
}
ul li a:hover {
  color: orange;
}
ul {
  list-style: none;
  display: flex;
}

.nav-link {
  display: flex;
}

.nav-link .button li a {
  color: orange;
  margin-left: 35px;
  text-decoration: none;
  margin-right: 70px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins";
}
.button a:hover {
  background-color: orange;
  color: white;
}

#conten {
  margin-top: 50px;
  display: flex;
  text-align: right;
  margin-bottom: 100px;
  background-image: url(/assets/image/background-jadi-removebg-preview.png);
  background-size: 1000px;
  background-repeat: no-repeat;
}
.conten-deskripsi h3 {
  margin-top: 200px;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin-left: 315px;
  text-align: right;
  margin-bottom: 36px;
}

.conten-deskripsi h6 {
  margin-top: 50px;
  font-family: "Poppins";
  font-size: 20px;
  text-align: right;
  margin-bottom: 30px;
}

.conten-deskripsi a {
  background-color: orange;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Poppins";
  color: white;
  text-align: right;
  box-shadow: 5px 5px 10px #c97b07;
}
.conten-gambar img {
  margin-top: 103px;
  margin-left: 50px;
  width: 500px;
  height: 500px;
}

#tentang {
  scroll-margin-top: 50px;
  background-color: #ff9501;
}
.judul-tentang {
  padding-top: 60px;
  margin-left: 70px;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

.judul-tentang hr {
  width: 300px;
  height: 3px;
  background-color: black;
  color: black;
  border-radius: 10px;
}

.tentang-deskripsi {
  display: flex;
  align-items: center;
}
.tentang-deskripsi img {
  width: 700px;
  height: 600px;
  margin-top: -150px;
}
.tentang-deskripsi p {
  margin-left: 30px;
  font-family: "Poppins";
  margin-right: 70px;
  font-size: 24px;
  margin-top: -140px;
}
.bawah {
  height: 160px;
  width: 100%;
  background-color: white;
  position: absolute;
}
.border-latar {
  margin-left: 150px;
  margin-top: -80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: auto;
  margin-right: 150px;
  background-color: #ffb429;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
}
.border-conten {
  display: flex;
  width: 316px;
  margin: 16px;
  height: 84px;
  background-color: white;
  border-radius: 10px;
}

.border-conten p {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 12px;
  margin-left: 10px;
  margin-right: 29px;
}

.border-conten img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

#lakukan {
  padding-top: 100px;
  z-index: 2;
}

.judul-lakukan {
  font-family: "Oswald", sans-serif;
  margin-left: 70px;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

.judul-lakukan hr {
  width: 420px;
  height: 3px;
  background-color: black;
  color: black;
  border-radius: 10px;
  margin-bottom: 80px;
}
.deskripsi-lakukan p {
  margin-left: 70px;
  font-size: 24px;
  font-family: "Poppins";
  margin-right: 70px;
}

.border-waktu-kegiatan {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-waktu-kegiatan p {
  color: black;
}

.border-kegiatan {
  width: 371px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 60px; */
  margin-top: 70px;
  margin-bottom: 100px;
  /* background-color: #ff9501; */
  border-radius: 20px;
  /* box-shadow: 2px 2px 20px #ff9900; */
}
.border-kegiatan2 {
  width: 371px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 60px;
  margin-right: 60px; */
  /* background-color: #ff9501; */
  border-radius: 20px;
  /* box-shadow: 2px 2px 20px #ff9900; */
}
.border-kegiatan3 {
  width: 371px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 60px; */
  /* background-color: #ff9501; */
  border-radius: 20px;
  /* box-shadow: 2px 2px 20px #ff9900; */
}
.border-waktu img {
  width: 230px;
  height: 100px;
}
.border-waktu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 169px;
  border-radius: 10px;
}
.border-waktu2 img {
  width: 100px;
  height: 100px;
}
.border-waktu2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 169px;
  border-radius: 10px;
}
.border-waktu3 img {
  margin-top: -20px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}
.border-waktu3 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 169px;
  border-radius: 10px;
}
.border-kegiatan p {
  text-align: center;
  margin-top: 40px;
  margin-left: 43px;
  margin-right: 43px;
  font-family: "Poppins";
  margin-bottom: 40px;
  color: white;
}
.border-kegiatan2 p {
  text-align: center;
  margin-top: 40px;
  margin-left: 43px;
  margin-right: 43px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: white;
}
.border-kegiatan3 p {
  text-align: center;
  margin-top: 15px;
  margin-left: 43px;
  margin-right: 43px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: white;
}

.judul-testimoni {
  margin-left: 58px;
}
#testimonial {
  height: auto;
  padding-bottom: 70px;
  padding-top: 100px;
  background-color: #ff9501;
}
.judul-testimoni h4 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}
.judul-testimoni hr {
  width: 270px;
  height: 3px;
  background-color: black;
  color: black;
  border-radius: 10px;
  margin-bottom: 80px;
}
.conten-testimoni {
  background-color: white;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  height: 480px;
}

.conten-testimoni .container {
  position: relative;
}
.gambar-kutip-2 img {
  margin-top: -50px;
  height: 160px;
  position: relative;
  width: 166px;
}
.card-testi img {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 145px;
}
.card-testi2 img {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 145px;
}
.card-testi3 img {
  margin: auto;
  margin-top: 30px;
  width: 120px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-testi {
  margin-top: -60px;
  position: absolute;
  width: 290px;
  margin-left: 30px;
  height: 386px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e4d3c3;
  background-color: white;
}
.card-testi2 {
  margin-top: -60px;
  position: absolute;
  width: 290px;
  margin-left: 388px;
  height: 386px;
  border-radius: 10px;
  background-color: #fdf9f1;
  box-shadow: 0px 0px 20px #e4d3c3;
}
.card-testi3 {
  margin-top: -60px;
  width: 290px;
  position: absolute;
  margin-left: 740px;
  height: 386px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e4d3c3;
}
.card-testi p {
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins";
  width: auto;
  margin-left: 53px;
  margin-right: 53px;
  margin-bottom: 57px;
}
.card-testi2 p {
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins";
  width: auto;
  margin-left: 53px;
  margin-right: 53px;
}
.card-testi3 p {
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins";
  width: auto;
  margin-left: 53px;
  margin-right: 53px;
  margin-bottom: 87px;
}
.conten-testimoni h6 {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins";
  font-size: 15px;
  margin-top: 33px;
  align-items: flex-end;
  margin-right: 40px;
}

.deskription-footer {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  margin-left: 80px;
}
.copy h5 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}
.contact h5 {
  font-size: 17px;
  font-family: "Oswald", sans-serif;
}
.contact {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
.contact a {
  color: black;
  font-size: 13px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.about {
  display: flex;
  flex-direction: column;
}
.about a {
  color: black;
  font-size: 13px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.about h5 {
  font-size: 17px;
  font-family: "Oswald", sans-serif;
}
#footer {
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer p {
  font-family: "Poppins";
  font-size: 15px;
}
#footer .copy p {
  font-size: 20px;
}
@media screen and (max-width: 460px) {
  .nav-link ul {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    left: 0;
  }
  .nav-link li a {
    padding: 10px;
  }
  .nav-link li a:hover {
    color: orange;
  }
  .nav-logo {
    margin-right: 200px;
    width: 300px;
    margin-left: 20px;
  }
  .navbar {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    z-index: 1;
  }
  ul li a {
    margin: 0;
  }
  .nav-link ul.active {
    display: flex;
  }
  .toggle-menu {
    position: absolute;
    top: 45px;
    left: 400px;
    opacity: 1;
    margin-top: -30px;
  }
  .nav-logo a {
    font-size: 30px;
    left: 0;
    margin-left: 20px;
  }
  #conten {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    background-image: url(/assets/image/background-jadi-removebg-preview.png);
    background-size: 200px;
    background-repeat: no-repeat;
  }
  .conten-deskripsi {
    order: 2;
  }
  .conten-deskripsi h3 {
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 36px;
    margin-left: 0;
  }

  .conten-deskripsi h6 {
    text-align: center;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .conten-deskripsi a {
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #c97b07;
  }
  .conten-gambar img {
    width: 80%;
    height: 80%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  #tentang {
    height: 600px;
  }
  .judul-tentang {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
  }

  .judul-tentang hr {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3px;
    background-color: black;
    color: black;
    border-radius: 10px;
  }

  .tentang-deskripsi {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .tentang-deskripsi img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    z-index: 3;
    order: 2;
  }
  .tentang-deskripsi p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
  }
  .bawah {
    margin-top: 100px;
    height: 160px;
    width: auto;
    background-color: white;
    position: absolute;
  }
  .border-latar {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
    margin-left: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-right: 10px;
    background-color: #ffb429;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
  }
  .border-conten {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 16px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
  }

  .border-conten p {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .border-conten img {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #lakukan {
    padding-top: 100px;
    z-index: 2;
  }

  .judul-lakukan {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .judul-lakukan hr {
    width: 300px;
    height: 3px;
    background-color: black;
    color: black;
    border-radius: 10px;
  }
  .deskripsi-lakukan p {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin-right: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -40px;
  }
  .border-waktu-kegiatan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }
  .border-kegiatan {
    width: 300px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 2px 2px 20px #ff9900; */
    margin-left: 0;
  }
  .border-kegiatan2 {
    width: 300px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 2px 2px 20px #ff9900; */
    margin-left: 0;
    margin-right: 0;
  }
  .border-kegiatan3 {
    width: 300px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 2px 2px 20px #ff9900; */
    margin-left: 0;
    margin-right: 0;
  }
  .border-waktu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 260px;
    height: 169px;
    border-radius: 10px;
  }
  .border-waktu2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 260px;
    height: 169px;
    border-radius: 10px;
  }
  .border-waktu3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 260px;
    height: 179px;
    border-radius: 10px;
  }
  .border-waktu3 img {
    width: 100px;
    height: 100px;
  }
  .border-kegiatan3 p {
    text-align: center;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
    color: white;
  }
  #testimonial {
    margin-left: 0;
    height: auto;
  }
  .judul-testimoni {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .judul-testimoni h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    margin-left: 0;
    margin-right: 0;
  }
  .judul-testimoni hr {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 3px;
    background-color: black;
    color: black;
    border-radius: 10px;
    margin-bottom: 80px;
  }
  .conten-testimoni {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  .gambar-kutip-2 img {
    margin-top: -50px;
    height: 160px;
    position: relative;
    width: 166px;
  }
  .card-testi img {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 125px;
  }
  .card-testi2 img {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 125px;
  }
  .card-testi3 img {
    margin: auto;
    margin-top: 30px;
    width: 100px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-testi {
    width: 100%;
    margin-right: 60px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #e4d3c3;
    background-color: white;
    position: relative;
    margin-left: 0;
  }

  .card-testi2 {
    margin-top: 40px;
    width: 100%;
    margin-left: 0;
    height: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #e4d3c3;
    background-color: white;
  }
  .card-testi3 {
    margin-top: 40px;
    position: relative;
    width: 100%;
    /* margin-left:    30px; */
    margin-left: 0;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #e4d3c3;
    background-color: white;
  }

  .card-testi h6,
  .card-testi2 h6,
  .card-testi3 h6 {
    margin-bottom: 20px;
  }
  .gambar-kutip-2 img {
    margin-top: -40px;
    height: 70px;
    position: relative;
    width: 70px;
  }

  .conten-testimoni {
    height: auto;
    padding: 20px;
  }

  .conten-testimoni .container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .deskription-footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .copy {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .copy h5 {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
  }
  .copy p {
    font-size: 15px;
  }
  .contact h5 {
    margin-left: 0;
    font-size: 17px;
    font-family: "Oswald", sans-serif;
  }
  .contact {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 20px;
  }
  .contact a {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-decoration: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .about a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  .about h5 {
    font-size: 17px;
    font-family: "Oswald", sans-serif;
  }
  #footer {
    margin: 0;
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  #footer .copy p {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .toggle-menu {
    left: 300px;
  }
}
